n8n/workflows/wf02_document_uploaded.json
{
  "name": "WF-02: Document Uploaded",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf02-document-uploaded",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0002-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/v1/catalog/documents/{{ $json.body.document_id }}/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BACKEND_JWT }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b0002-0002-4000-8000-000000000002",
      "name": "Trigger Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $response.statusCode }}",
              "rightValue": 202,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b0002-0003-4000-8000-000000000003",
      "name": "IF Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {},
      "id": "b0002-0004-4000-8000-000000000004",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {},
      "id": "b0002-0005-4000-8000-000000000005",
      "name": "Fail",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"document_id\": \"{{ $('Webhook').item.json.body.document_id }}\" }",
        "options": {}
      },
      "id": "b0002-0006-4000-8000-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trigger Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Enrichment": {
      "main": [
        [
          {
            "node": "IF Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Accepted": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mawrid", "catalog", "wf-02"]
}
