n8n/workflows/wf06_goods_received.json
{
  "name": "WF-06: Goods Received",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf06-goods-received",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0006-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/v1/procurement/shipments/{{ $json.body.shipment_id }}/goods-received",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BACKEND_JWT }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"items\": {{ JSON.stringify($json.body.items) }} }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b0006-0002-4000-8000-000000000002",
      "name": "Record Goods Received",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $response.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b0006-0003-4000-8000-000000000003",
      "name": "IF OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/stock_threshold",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BACKEND_JWT }}"
            },
            {
              "name": "X-N8N-Service-Token",
              "value": "={{ $env.N8N_SERVICE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"shipment_id\": \"{{ $('Webhook').item.json.body.shipment_id }}\", \"items\": {{ JSON.stringify($('Webhook').item.json.body.items) }} }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b0006-0004-4000-8000-000000000004",
      "name": "Notify Stock Threshold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Goods received recording failed\" }",
        "options": {
          "responseCode": 502
        }
      },
      "id": "b0006-0005-4000-8000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"shipment_id\": \"{{ $('Webhook').item.json.body.shipment_id }}\" }",
        "options": {}
      },
      "id": "b0006-0006-4000-8000-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Record Goods Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Goods Received": {
      "main": [
        [
          {
            "node": "IF OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF OK": {
      "main": [
        [
          {
            "node": "Notify Stock Threshold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Stock Threshold": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mawrid", "procurement", "stock", "wf-06"]
}
