n8n/workflows/wf11_stock_threshold.json
{
  "name": "WF-11: Stock Threshold Reorder",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf11-stock-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0011-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/n8n/stock_threshold",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BACKEND_JWT }}"
            },
            {
              "name": "X-N8N-Service-Token",
              "value": "={{ $env.N8N_SERVICE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"tenant_id\": \"{{ $json.body.tenant_id }}\", \"product_id\": \"{{ $json.body.product_id }}\", \"product_name\": \"{{ $json.body.product_name }}\", \"qty_in_stock\": {{ $json.body.qty_in_stock }}, \"reorder_threshold\": {{ $json.body.reorder_threshold }} }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b0011-0002-4000-8000-000000000002",
      "name": "Notify Stock Threshold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $response.statusCode }}",
              "rightValue": 202,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b0011-0003-4000-8000-000000000003",
      "name": "IF Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"HITL reorder action created\" }",
        "options": {}
      },
      "id": "b0011-0004-4000-8000-000000000004",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Stock threshold notification failed\" }",
        "options": {
          "responseCode": 502
        }
      },
      "id": "b0011-0005-4000-8000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notify Stock Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Stock Threshold": {
      "main": [
        [
          {
            "node": "IF Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Accepted": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["mawrid", "stock", "reorder", "hitl", "wf-11"]
}
